@page
@model BookRental.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Shopping Cart";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

<div class="container ">
    <table class="table rounded-table">
        <thead>
            <tr>
                <th>Shopping Bag</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td class="d-flex align-items-center">
                        <img class="coverBook m-4 rounded-3" src="@item.Book.CoverImageUrl" alt="Book Cover" />
                        <div class="ml-3 AuthorTitle">
                            <p class="">@item.Book.Title</p>

                            <p class="">@item.Book.Author</p>
                             <form method="post" asp-page-handler="RemoveFromCart">
                                <button type="submit" name="cartItemId" value="@item.Id" class="btn btn-danger btn-sm me-1 mb-2 ">
                                    <i class="fas fa-trash"> Remove </i>
                                </button>
                            </form>
                            <form method="post" asp-page="/FavoriteItem/FavoriteItem" asp-page-handler="AddToFavorites" class="d-inline-block">
                                <button type="submit" name="bookId" value="@item.Book.Id" class="btn btn-primary btn-sm me-1 mb-2 ">
                                    <i class="fas fa-heart"> Favorite </i>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td class="align-middle">
                        <form method="post" asp-page-handler="UpdateQuantity">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <div class="d-flex mb-4" style="max-width: 300px">
                                <button type="button" class="btn btn-primary quantity-control me-2"
                                        onclick="{
                                      this.parentNode.querySelector('input[name=newQuantity]').stepDown();
                                      this.parentNode.querySelector('input[name=newQuantity]').dispatchEvent(new Event('change'));
                                  }">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="form-outline">
                                    <input id="form1" min="1" name="newQuantity" value="@item.Quantity" type="number" class="form-control quantity-input" onchange="validateQuantityInput(this); this.form.submit();" />
                                </div>
                                <button type="button" class="btn btn-primary quantity-control ms-2"
                                        onclick="{
                                      this.parentNode.querySelector('input[name=newQuantity]').stepUp();
                                      this.parentNode.querySelector('input[name=newQuantity]').dispatchEvent(new Event('change'));
                                  }">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td class="align-middle">
                        <p>@(item.Book.Price * item.Quantity)$</p>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    @if (Model.CartItems.Count == 0)
    {
        <h1>The basket is empty</h1>
    }
    <p class="text-danger">
        <strong>Total Cost:</strong> @Model.TotalCost$
    </p>
    <!-- Checkout Button -->
    @if (Model.TotalCost > 0){
        <form method="post" asp-page-handler="Checkout">
            <button type="submit" class="btn btn-primary">
                Checkout
            </button>
        </form>
    }


</div>
<script src="~/js/validateQuantityInput.js" asp-append-version="true"></script>