@page
@model BookRental.Pages.Book.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/BrowseBooks.css" asp-append-version="true" />

<body>

    <p>
        <a class="details-btn" asp-page="Create">Create New</a>
    </p>

    <form method="get">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search for books" value="@ViewData["searchString"]">
            <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="submit">Search</button>
            </span>
        </div>
    </form>
    <div class="boxes">
        <div class="book-grid">
            @foreach (var item in Model.Books)
            {
                <div class="book-item">
                    <img class="icon" src="@Html.DisplayFor(modelItem => item.CoverImageUrl)">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Author)</p>
                    <div class="button-container">
                        <a class="details-btn" asp-page="./Reserve" asp-route-id="@item.Id">Reserve</a>
                        <a class="details-btn" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a class="delete-btn" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>